.slick-prev {
  @include absolute(top 45% left spacing(1.5), $transY: -50%);
  background: url(../../../build/images/icon/back-session.png) no-repeat center;
}

.slick-next {
  @include absolute(top 45% right spacing(1.5), $transY: -50%);
  background: url(../../../build/images/icon/next-session.png) no-repeat center;
}

.slick-prev,
.slick-next {
  @include size(spacing(5), spacing(10));
  z-index: z("slick");
  background-size: contain;
  color: transparent;
  background-color: transparent;
  opacity: 0.5;
  border: none;
  cursor: pointer;

  @include screen(custom, max, 1060) {
    display: none !important;
  }
}

.slick-dots {
  @include flexbox($justify: center);
  @include absolute(bottom 12% left 50%, $transX: -50%);
  z-index: z("slick");
  border: none;

  li {
    button {
      @include size(spacing(1.2));

      border-radius: 50%;
      border: none;
      font-size: 0;
      margin-right: spacing(0.8);
    }

    &.slick-active {
      button {
        background: bc("primary");
      }
    }
  }
}
