//---------COLORS BACKGROUND---------

$bgColors: (
  "primary": #fb4226,   //Red Orange used for slick dots, button, label-c, load more button boder hover
  "secondary": #222222, //Nero used for footer
  "white": #ffffff,     //White used for header, dropdown, modal, carousel, app block, footer, detail progress,close button(login page), rgba
  "tooltip-triangle": #f7f7f7,
  "smoke": #e9e9e9,     //White Smoke used for cinema block rgba, border
  "gainsboro": #e8e3e3, //Gainsboro used for scroll background, cinema block
  "lilac": #ebebec,     //White Lilac used for modal border
  "silver": #c4c0c0,    //Silver used for scroll thumb
  "suva": #949494,      //Suva Grey used for load more button
  "charcoal": #4a4a4a,  //Charcoal used for buy button(in carousel), footer
  "eclipse": #3a3a3a,   //Eclipse used for detail progress track
  "turquoise": #60c5ef, //Turquoise Blue used for dropdown hover, selected
  "astronaut": #455570, //Astronaut used for login page button
  "midnight": #14325D,  //Midnight Blue used for login wrapper gradient
  "whale": #1f2e46,     //Blue Whale used for film block
  "cyprus": #081630,    //Cyprus used for rating rgba, close button(login page), login wrapper gradient
  "black": #000000,     //Black used for film block gradient and boxshadow rgba, carousel boxshadow rgba, login wrapper boxshadow, modal border
  "lima": #7ed321,      //Lima used for detail progress thumb
  "pigment": #00ac4d,   //Pigment Green used for label-p
  "harley": #ce3017,    //Harley Davidson Orange used for "MUA VÉ" button gradient
  "speech": #b30000,    //Speech Red used for buy button hover(in carousel)
  "normal-seat": #3E515D,
  "vip-seat":#f7b500,
  "couple-seat": #b03550,
  "selecting-seat": #44c020,
  "selected-seat": #e7eaec,
  "unavailable-seat": #102235,
  "seatview-line": #fa7f6c,
  "disabled-btn": #afafaf,
);


//---------COLORS TEXT---------

$txtColors: (
  "primary": #fb4226,   //Red Orange used for header, ciname block, news block, footer
  "black": #000000,     //Black used for header, modal, dropdown, film block, news block
  "nobel": #9b9b9b,     //Nobel used for button, header, ciname block, news block
  "charcoal": #4a4a4a,  //Charcoal used for film block, news block
  "raven": #737576,     //Raven
  "suva": #949494,      //Suva Grey used for button, cinema block, footer
  "salem": #108f3e,     //Salem used for cinema block
  "fire": #e71a0f,      //Fire Engine Red used for CGV
  "atlantis": #8bc541,  //Atlantis used for BHD
  "white": #ffffff,     //White used for button, dropdown, label, carousel, film block, app block, footer, detail page content, login page wrapper, title
  "sunset": #fa5238,    //Sunset Orange used for film block, news block, detail page content
  "smoke": #e9e9e9,     //White Smoke used for detail page content
  "total-cost": #44c020,
  "checkout": #333333,
  "checkout-input": #4a90e2,
  "checkout-notice": #f79320,
);


//---------FONT SIZE---------

$fontSizes: (
  "body1": 11px,          //used for footer title
  "body2": 12px,          //used for film block, cinema block, news block, footer
  "subtitle": 13px,       //used for button, header, film block, cinema block, news block
  "h6": 14px,             //used for header, label, carousel, cinema block, news block, app block, detail page, login page
  "h5": 16px,             //used for button, modal, film block, cinema block, news block, app block, detail page
  "h4": 18px,             //used for header, film block, cinema block, news block, detail page 
  "h3": 20px,             //used for film block, news block, detail page 
  "h2": 24px,             //used for film block, news block, detail page 
  "h1": 32px,             //used for app block
  "title": 25px,
  "detail-progress": 52px,
  "countdown": 29px,
  "total-cost": 36px,
);


//---------FONT WEIGHT---------

$fwArr: (
  "fwBold": 600,
  "fwMedium": 400,
  "fwRegular": 300,
);


//---------SPACING---------

$spacing: 10px;


//---------BREAKPOINT---------

$breakpoints: (
  "x-lg": 1200px,
  "lg": 992px,
  "md": 768px,
  "sm": 576px,
);


//---------Z-Indexes---------

$z-indexes: (
  "modal",      
  "side-menu",  
  "header",    
  "checkout-header",
  "center-seat",
  "ScrollTop",  
  "slick",      
  "tooltip",    
  "play-btn",   
  "quick-buy"   
);
