.login-btn {
  cursor: pointer;
  display: flex;

  & img {
    border-radius: 50%;
    width: spacing(3);
    margin-right: spacing(0.8);
  }
  & span {
    @include font(fs("subtitle"), tc("nobel"));
    @include margin-padding(right, spacing(1.1), right, spacing(1.1));
    border-right: spacing(0.1) solid bc("smoke");
  }
}

.play-btn {
  @include centerAbsolute();
  @include appearance($borrad: null);
  z-index: z("play-btn");
  opacity: 0;

  & img {
    transition: all 0.2s;

    &:hover {
      opacity: 0.5;
    }
  }
}

.loadmore-btn {
  @include font(fs("subtitle"), tc("suva"), fw("fwMedium"));
  @include appearance($bg: 0 0);
  text-transform: uppercase;
  border: spacing(0.1) solid bc("suva");
  padding: spacing(1) spacing(2.5);

  &:hover {
    color: tc("white");
    background-color: bc("primary");
    border-color: bc("primary");
  }
}

.download-now {
  @include appearance($bg: bc("primary"));
  @include font(fs("h5"), tc("white"), fw("fwBold"), 1.4);
  padding: spacing(1) spacing(2);
  border: none;
}
