.carousel {
  position: relative;
  text-align: center;
  margin-top: spacing(6);

  .carousel__wrapper {
    a {
      position: relative;

      & > img {
        width: 100%;
      }

      &:hover .play-btn {
        opacity: 1;
      }
    }

    .carousel__linear-bg {
      @include size(100%);
      @include absolute(top 0);
      background: linear-gradient(to top, #000, transparent 20%);
    }
  }

  .quick-buy {
    @include absolute(bottom 0 left 50%, $transX: -50%, $transY: 50%);
    @include size(100%, spacing(8));
    @include box-shadow(0, 0, 1, 0, rgba(0, 0, 0, 0.3));
    @include flexbox(flex, center);
    z-index: z("quick-buy");
    max-width: spacing(94);
    border-radius: 5px;
    background: bc("white");
    text-align: left;

    .dropdownselectFilm {
      @include size(30%, 50%);
    }

    .dropdownselectDate,
    .dropdownselectCinema,
    .dropdownselectSession {
      @include size(calc(70% / 4), 50%);
    }

    .dropdownselectFilm,
    .dropdownselectDate,
    .dropdownselectCinema,
    .dropdownselectSession {
      position: relative;
      border-right: 1px solid rgba(238, 238, 238, 0.88);
    }

    .select-selected {
      @include centerAbsolute("top");
      @include truncateText(100%);
      @include font("h6", "primary");
      background: url(../../img/dropdown-icon.png) no-repeat right spacing(0.8)
        center;
      padding: 7%;
    }

    .select-items {
      @include absolute(top 100% left 0);
      @include box-shadow(0, 0.6, 1.2, 0, rgba(0, 0, 0, 0.1));
      font-size: fs("h6");
      min-width: spacing(16);
      border: spacing(0.1) solid rgba(0, 0, 0, 0.15);
      width: -webkit-max-content;
      width: -moz-max-content;
      width: max-content;

      div {
        padding: spacing(0.3) spacing(2);
      }
    }

    &__button {
      position: relative;
      @include size(calc(70% / 4), 50%);

      button {
        @include centerAbsolute();
        padding: spacing(1.2) spacing(2.5);
        background-color: bc("buy-btn");
        border: none;
        border-radius: 4px;
        font-size: 1.4rem;
        color: tc("white");
        cursor: pointer;

        &.enable {
          background: bc("label-c");

          &:hover {
            background: bc("speech-red");
          }
        }
      }
    }
  }
}
