/*
COMMENT KEYWORD to find: 
// CAROUSEL STYLE
// Contain: Film Block, Cinema Block, News Block
// FILM BLOCK STYLE
// CINEMA BLOCK STYLE
// NEWS BLOCK STYLE
*/

// CAROUSEL STYLE
.carousel {
  position: relative;
  text-align: center;
  margin-top: spacing(6);

  .carousel__wrapper {
    a {
      position: relative;

      & > img {
        width: 100%;
      }

      &:hover .play-btn {
        opacity: 1;
      }
    }

    .carousel__linear-bg {
      @include size(100%);
      @include absolute(top 0);
      background: linear-gradient(to top, #000, transparent 20%);
    }
  }

  .quick-buy {
    @include absolute(bottom 0 left 50%, $transX: -50%, $transY: 50%);
    @include size(100%, spacing(8));
    @include box-shadow(0, 0, 1, 0, rgba(0, 0, 0, 0.3));
    @include flexbox(flex, center);
    @include container();
    z-index: z("quick-buy");
    border-radius: spacing(0.5);
    background: bc("white");
    text-align: left;

    .dropdownselectFilm {
      position: relative;
      @include size(30%, 50%);
    }

    .dropdownselectDate,
    .dropdownselectCinema,
    .dropdownselectSession,
    &__button {
      position: relative;
      @include size(calc(70% / 4), 50%);
    }

    .dropdownselectFilm,
    .dropdownselectDate,
    .dropdownselectCinema,
    .dropdownselectSession {
      border-right: spacing(0.1) solid bdc("tab");
    }

    .select-selected {
      @include centerAbsolute("top");
      @include truncateText(100%);
      @include font("h6", "primary");
      background: url(../../img/dropdown-icon.png) no-repeat right spacing(0.8)
        center;
      padding: 7%;
    }

    .select-items {
      @include absolute(top 100% left 0);
      @include box-shadow(0, 0.6, 1.2, 0, rgba(0, 0, 0, 0.1));
      font-size: fs("h6");
      min-width: spacing(16);
      border: spacing(0.1) solid rgba(0, 0, 0, 0.15);
      width: -webkit-max-content;
      width: -moz-max-content;
      width: max-content;

      div {
        padding: spacing(0.3) spacing(2);
      }
    }

    &__button {
      button {
        @include centerAbsolute();
        padding: spacing(1.2) spacing(2.5);
        background-color: bc("buy-btn");
        border: none;
        border-radius: 4px;
        font-size: 1.4rem;
        color: tc("white");
        cursor: pointer;

        &.enable {
          background: bc("label-c");

          &:hover {
            background: bc("speech-red");
          }
        }
      }
    }
  }
}
// END of CAROUSEL STYLE

// Contain: Film Block, Cinema Block, News Block
.content {
  @include margin-padding(all, auto, top, spacing(7.5));
  @include container;
}

// FILM BLOCK STYLE
.filmBlock {
  &__tab {
    @include flexCenter();
    overflow: hidden;

    button {
      border: none;
      outline: none;
      background: none;
      @include appearance($borrad: null);
      @include font("h3", "primary");
      @include margin-padding(
        all,
        0 spacing(0.5),
        all,
        spacing(1) spacing(1.5)
      );

      &:hover {
        font-size: fs("h2");
      }

      &.active {
        @include font("h2", "tab-active");
      }
    }
  }

  &__tabcontent {
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;

    .slick-prev {
      @include absolute(top 50% left spacing(-7));
    }

    .slick-next {
      @include absolute(top 50% right spacing(-7));
    }

    .filmBlock__slide {
      @include flexbox($justify: flex-start, $wrap: wrap);

      .filmBlock__film {
        cursor: pointer;
        width: 25%;
        padding: spacing(2) spacing(1) 0;

        &:hover {
          .filmBlock__film-overlay,
          .filmBlock__film-overlay .play-btn,
          .filmBlock__film-title::after {
            opacity: 1;
          }
          .filmBlock__film-info,
          .filmBlock__film__sneak-show {
            opacity: 0;
          }
        }
        &-img {
          position: relative;

          .filmBlock__film-overlay {
            @include absolute(top 0);
            @include size(100%);
            @include appearance();
            background: linear-gradient(to top, bc("black"), transparent 100%);
            opacity: 0;

            .play-btn {
              img {
                @include size(spacing(6));
              }
            }
          }
          & > img {
            width: 100%;
            border-radius: spacing(0.4);
            margin-bottom: spacing(1);
          }
        }

        &-rating {
          @include absolute(top spacing(1.2) right spacing(1.2));
          @include font("h5", "white");
          width: spacing(5.4);
          text-align: center;
          background-color: bc("rating");
          border: spacing(0.1) solid bdc("rating");
          padding: spacing(0.2);
        }

        &-showtime {
          @include absolute(bottom spacing(1.2) right spacing(1.2));
          @include font("h5", "white", $lhe: 1.44);
          background-color: bc("rating");
          border: spacing(0.1) solid bdc("rating");
          padding: spacing(0.2);
          border-radius: spacing(0.4);
        }

        &-score {
          transform: scaleY(1.2);
        }

        &-star {
          @include flexCenter();
          margin: spacing(0.4) 0;
          img {
            width: 15%;
          }
        }

        &__sneak-show {
          @include absolute(bottom spacing(1) right spacing(1));
          @include font("body2", "white", "fwRegular", 1.55);
          @include box-shadow(0, 0, 1, 0, bc("boxshadow"), true);
          padding: spacing(0.4) spacing(0.8);
          @include appearance(
            $property: opacity,
            $borrad: spacing(0.6),
            $bg: bc("label-c")
          );
        }

        &__sneak-show--tag,
        &__block-buster--tag {
          @include absolute(
            top spacing(-2) left spacing(-1),
            $transX: -5%,
            $transY: -12%
          );
          width: 80%;
          max-width: spacing(15);
          img {
            width: 100%;
          }
        }

        &-title {
          transition: all 0.2s;
          height: spacing(4.2);
          position: relative;

          h1 {
            display: inline;
            font-weight: fw("fwMedium");
          }

          &::after {
            content: "MUA VÉ";
            @include centerAbsolute();
            @include font("h4", "white");
            @include appearance(
              $property: opacity,
              $bg:
                linear-gradient(to left, bc("label-c"), bc("dark-orange") 100%)
            );
            @include size(100%);
            @include flexCenter();
            opacity: 0;
          }
          &:hover::after {
            background: bc("label-c");
          }
        }

        &-info {
          transition: all 0.2s;
          margin: spacing(0.8) 0 spacing(1.5);
          @include font("subtitle", "text-2");
        }
      }
    }
  }
}
// END of FILM BLOCK STYLE

// CINEMA BLOCK STYLE
.cinemaBlock {
  @include blockHeader;
  @include flexbox($wrap: nowrap);

  .tab {
    @include flexbox($direction: column, $align: center);
    @include custom-scrollbar;
    @include size(10%, spacing(70.5));
    border: spacing(0.1) solid bdc("tab");
    border-right: transparent;
    border-radius: spacing(0.4) 0 0 spacing(0.4);
  }

  &__cinema-list {
    @include flexCenter();
    position: relative;
    padding: spacing(2);
    cursor: pointer;

    img {
      @include size(spacing(5));
      opacity: 0.5;
    }
    &::after {
      content: "";
      @include absolute(bottom 0 left 50%, $transX: -50%);
      width: 55%;
      border-bottom: spacing(0.1) solid bdc("tab");
    }
    &.active,
    &:hover {
      img {
        opacity: 1;
      }
    }
  }

  &__cinema-detail {
    @include custom-scrollbar;
    @include size(30%, spacing(70.5));
    border: spacing(0.1) solid bdc("tab");
    padding: 0 spacing(2);
  }

  &__cinema-info {
    @include appearance($borrad: null);
    @include flexbox($align: flex-start);
    position: relative;
    padding: spacing(2) 0;
    opacity: 0.5;

    img {
      @include size(spacing(5));
    }

    &::after {
      content: "";
      @include absolute(bottom 0 left 50%, $transX: -50%);
      width: 100%;
      border-bottom: spacing(0.1) solid bdc("tab");
    }

    &.active,
    &:hover {
      opacity: 1;
    }
  }

  &__wrap {
    cursor: pointer;
    width: calc(100% - 50px);
    padding-left: spacing(1);

    & > span {
      @include font($fsz: "h6", $lhe: 1.4);

      .cinemaBlock__cgv {
        @include font($color: "cgv");
      }

      .cinemaBlock__bhd {
        @include font($color: "bhd");
      }
    }

    p {
      @include truncateText(100%);
      @include font("body2", "text-3", "fwRegular", $lhe: 1.4);
    }

    a {
      @include font("body2", "secondary", $lhe: 1.4);
    }
  }

  &__film-time {
    @include custom-scrollbar;
    @include size(60%, spacing(70.5));
    padding: 0 spacing(2);
    border: spacing(0.1) solid bdc("tab");
    border-radius: 0 spacing(0.4) spacing(0.4) 0;

    border-left: transparent;

    &-item {
      @include flexbox($align: center, $wrap: wrap);
      position: relative;
      padding: spacing(2) 0;

      &::after {
        content: "";
        @include absolute(bottom 0 left 50%, $transX: -50%);
        width: 100%;
        border-bottom: spacing(0.1) solid bdc("tab");
      }

      img {
        @include size(spacing(5));
        cursor: pointer;
      }
    }
  }

  &__empty {
    @include font($fsz: "h6", $lhe: 1.4);
    padding-top: spacing(3);
    text-align: center;
  }

  &__hide-on-click {
    overflow-y: hidden;
    p {
      @include font($fsz: "h5", $lhe: 1.4);
      padding: spacing(1.5) 0;
      width: 100%;
    }
  }

  &__session {
    width: 100%;
    a {
      display: inline-block;
      width: calc(25% - 13px);
      @include appearance($borrad: spacing(0.7), $bg: bc("showtime"));
      @include margin-padding(
        $m-amount: 0 spacing(1) spacing(1) 0,
        $p-amount: spacing(0.5) 0
      );
      @include font("subtitle", "text-1", "fwMedium", $lhe: 1.4);
      text-align: center;
      border: spacing(0.1) solid bdc("showtime");

      span {
        @include font("h4", "start-time");
      }

      &:hover {
        span {
          color: tc("secondary");
        }
      }
    }
  }
}
// END of CINEMA BLOCK STYLE

// NEWS BLOCK STYLE
.newsBlock {
  @include blockHeader;
  @include flexCenter;
  flex-direction: column;

  &__tab {
    @include flexCenter();
    overflow: hidden;

    button {
      border: none;
      outline: none;
      background: none;
      @include appearance($borrad: null);
      @include font("h3", "primary");
      @include margin-padding(
        all,
        0 spacing(0.5),
        all,
        spacing(1) spacing(1.5)
      );

      &:hover {
        font-size: fs("h2");
      }

      &.active {
        @include font("h2", "tab-active");
      }
    }
  }

  &__tabcontent {
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
  }

  &__news-container {
    @include flexbox($justify: space-evenly, $wrap: wrap);

    .item-1,
    .item-2 {
      width: 50%;
    }

    .item-3,
    .item-4,
    .item-wrapper {
      width: 33%;
    }

    .item-5,
    .item-6,
    .item-7,
    .item-8 {
      @include flexCenter;
      align-items: flex-start;
      margin-bottom: 0;

      & > img {
        @include size(spacing(5));
        margin: 0 spacing(1.2) spacing(1) 0;
      }

      .newsBlock__news-title {
        @include font("h6", "primary", $lhe: spacing(2));
        opacity: 0.7;

        &:hover {
          color: tc("secondary");
        }
      }

      & > div,
      .newsBlock__news-quote {
        display: none;
      }
    }

    .item-wrapper {
      padding-top: spacing(1);
    }
  }

  &__news-item {
    @include margin-padding(bottom, spacing(1), all, 0 spacing(0.75));

    & > img {
      @include appearance();
      width: 100%;
      margin: spacing(1) 0;
    }

    & > div {
      a {
        @include font("body2", "text-1");
        display: inline-flex;
        margin-right: spacing(2.5);

        img {
          width: 18px;
          margin-right: spacing(1);
        }
      }
    }
  }

  &__news-title {
    /*! autoprefixer: off */
    @include font("h5", "primary", $lhe: spacing(2));
    @include appearance();
    margin-bottom: spacing(0.5);
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

    &:hover {
      color: tc("secondary");
    }
  }

  &__news-quote {
    @include font("subtitle", "text-2", $lhe: spacing(1.9));
    @include margin-padding(bottom, spacing(1.5), right, spacing(0.5));
    text-align: justify;
    height: spacing(5.5);
    overflow: hidden;
  }

  &__load-more {
    margin-top: spacing(4);
    margin-bottom: spacing(1.5);
  }
}
// END of NEWS BLOCK STYLE
