.checkout {
  @include flexbox();
  position: relative;

  &__left {
    width: 74%;

    @include screen(md) {
      width: 100%;
    }
  }

  &__header {
    @include flexbox(flex, center, space-between);
    @include font(fs("subtitle"), tc("black"));
    @include box-shadow(0, 0, 1.5, 0, $color: rgba(bc("black"), 0.3));
    height: spacing(8);
    padding: 0 spacing(7) 0 spacing(4);
    z-index: z("checkout-header");

    &.hide-on-mobile {
      @include screen(md) {
        display: none;
      }
    }

    &.hide-on-desktop {
      display: none;
      @include screen(md) {
        display: flex;
        height: spacing(6);
        padding: 0 spacing(1.5);
        @include fixed(top 0);
        width: 100%;
      }
    }
  }

  &__back-to-detail {
    display: none;
    @include screen(md) {
      display: block;
      @include size(spacing(1.5));
    }
  }

  &__progress {
    @include flexCenter();

    p {
      position: relative;
      padding: 0 spacing(3);
      line-height: spacing(8);

      span {
        margin-right: spacing(0.5);
        font-size: fs("h4");
      }

      &.active {
        color: tc("primary");

        &::before {
          content: "";
          @include absolute(top 0 left 50%, -50%, 50%);
          @include size(calc(100% - 60px), spacing(0.1));
          background: bc("primary");
        }
      }
    }

    @include screen(md) {
      p {
        font-weight: fw("fwBold");
      }
    }
  }

  &__user {
    @include flexCenter();
    img {
      @include size(spacing(3));
      border-radius: 50%;
      margin-right: spacing(0.5);
    }

    span {
      color: tc("nobel");

      @include screen(md) {
        display: none;
      }
    }
  }

  &__body {
    @include flexbox(flex, null, center);
    height: calc(100vh - 80px);

    @include screen(md) {
      display: none;
      margin-top: spacing(6);
      height: calc(100vh - 60px);
    }
  }

  &__left-banner {
    @include fixed(top spacing(8) left -22%);
    background: url(../../../build/images/Detail/soi-100-100-wolf-p-15927180593840.png)
      no-repeat;
    background-position: right;
    background-size: cover;
    min-height: calc(100% - 80px);
    width: 26%;

    &-overlay {
      @include absolute(top 0 left 0 right 0 bottom 0);
      background: bc("black");
      opacity: 0.7;
    }

    @include screen(md) {
      display: none;
    }
  }

  &__seat {
    width: spacing(90);
    margin: spacing(2.5) 0 0 spacing(6);

    &-header {
      @include flexbox(flex, center, space-between);
    }

    @include screen(md) {
      margin: 0 spacing(4);

      &-header {
        padding-top: spacing(3);
      }
    }
  }

  &__cinema-info {
    @include flexCenter();

    img {
      width: 15%;
      @include screen(md) {
        width: 11%;
      }
    }

    .cinemaBlock__wrap {
      span {
        @include font(fs("h5"), $fwe: fw("fwRegular"));
      }

      p {
        font-size: fs("h6");
      }
    }
  }

  &__countdown {
    white-space: nowrap;
    text-align: center;

    p {
      color: tc("nobel");
    }
    span {
      @include font(fs("countdown"), tc("primary"));
    }
  }

  &__seat-screen {
    text-align: center;
    margin-top: spacing(2);
    img {
      width: 100%;
      @include screen(md) {
        width: 80%;
      }
    }
  }

  &__seat-map {
    @include flexbox(flex, center, flex-start, column);
  }

  &__seat-row {
    display: flex;
    min-height: spacing(2.7);
  }

  &__seat-wrapper {
    @include flexbox(flex, center);
    position: relative;
    min-width: spacing(3.5);
    user-select: none;

    .exit {
      cursor: pointer;
      @include absolute(top 0);
      transform: translateX(80%) rotate(270deg);
      width: auto;
      align-self: normal;
    }
  }

  svg {
    cursor: pointer;
    fill: currentColor;
    width: spacing(2.7);
  }

  .seat {
    color: bc("normal-seat");
  }

  .vip-seat {
    position: relative;
    color: bc("vip-seat");
    img {
      @include absolute(top 60% left 55.5%);
      transform: translate(-44.5%, -40%) scale(0.9);
      z-index: z("center-seat");
    }
  }

  .left-seat,
  .right-seat,
  .couple-seat {
    color: bc("couple-seat");
    height: 100%;
  }

  .left-seat {
    svg {
      @include absolute(right spacing(0.3));
    }
  }

  .right-seat {
    svg {
      @include absolute(left spacing(-0.3));
    }
  }

  &__seat-rowname {
    @include font(fs("h6"), tc("black"));
    width: spacing(5.5);

    span {
      display: inline-block;
      width: spacing(1);
      text-align: center;
    }
  }

  &__seat-legends {
    margin-top: spacing(5);
    span {
      @include font(fs("body2"), tc("nobel"), fw("fwRegular"));
      margin-top: spacing(0.5);
    }

    @include screen(md) {
      margin-bottom: spacing(10);
    }
  }

  &__seat-type {
    @include flexCenter();

    &-wrapper {
      @include flexCenter();
      flex-direction: column;
      margin-right: spacing(2.1);

      svg {
        @include size(spacing(1.4), auto);
        margin: 0;
      }

      .selecting-seat {
        color: bc("selecting-seat");
      }

      .selected-seat {
        display: flex;
        position: relative;
        color: bc("selected-seat");

        &::after {
          content: "";
          @include size(spacing(0.7));
          @include absolute(top 40%, 0, -50%);
          background: url(../../../build/images/Icon/seatnotchoose.png)
            no-repeat;
          background-size: contain;
        }
      }

      .unavailable-seat {
        color: rgba(bc("unavailable-seat"), 0.2);
      }
    }
  }

  &__view {
    @include flexCenter();
    margin-top: spacing(1.5);

    &-wrapper {
      span {
        margin-right: spacing(2);

        &::before {
          content: "";
          display: inline-block;
          vertical-align: middle;
          width: spacing(2.8);
          margin-right: spacing(0.8);
        }

        &.center-seat::before {
          border-top: spacing(0.2) dashed bc("seatview-line");
        }

        &.best-seat::before {
          border-top: spacing(0.2) solid bc("seatview-line");
        }
      }
    }
  }

  &__right {
    @include fixed(top 0 right 0);
    @include size(spacing(44), 100%);
    @include box-shadow(0, 0, 1.5, 0, $color: rgba(bc("black"), 0.3));
    background: bc("white");

    & > button {
      border: none;
      @include absolute(bottom 0 left 0);
      @include size(100%, spacing(6));
      @include font(fs("h2"), tc("smoke"));

      &:disabled {
        background-color: bc("disabled-btn");
      }
    }

    @include screen(md) {
      @include flexbox(flex, $direction: column);
      @include size(100%, calc(100vh - 130px));
      @include custom-scrollbar();
      top: spacing(6);
      box-shadow: unset;

      & > button {
        display: none;
      }
    }
  }

  &__controller {
    padding: 0 spacing(4);
    height: calc(100% - 140px);
    @include custom-scrollbar();
    @include screen(md) {
      overflow: unset;
      height: auto;
    }
  }

  &__total-cost {
    @include flexCenter();
    height: spacing(8);
    border-bottom: spacing(0.1) dashed bc("smoke");
    margin-bottom: spacing(1.5);

    span {
      text-align: center;
      @include font(fs("total-cost"), tc("total-cost"));
    }
  }

  &__film-info {
    @include flexbox(flex, flex-start, flex-start, column);
    height: spacing(8);
    border-bottom: spacing(0.1) dashed bc("smoke");
    margin-bottom: spacing(1.25);

    span {
      @include font(fs("h6"), tc("checkout"), fw("fwRegular"));
      margin-bottom: spacing(0.2);

      &.checkout__film-name {
        display: flex;
        @include font(fs("h5"), tc("black"), fw("fwMedium"));
        padding-bottom: spacing(0.5);

        .green-label {
          @include font(fs("body2"), tc("white"), fw("fwMedium"), spacing(1.8));
          margin: 0 spacing(0.5) 0 0;
        }
      }
    }
  }

  &__selected-seat {
    @include flexbox(flex, center, space-between);
    @include margin-padding(bottom, spacing(1.25), bottom, spacing(1.25));
    border-bottom: spacing(0.1) dashed bc("smoke");
  }

  &__total-seat {
    @include font(fs("h6"), tc("primary"));
  }

  &__seat-cost {
    @include font(fs("h5"), tc("total-cost"));
    padding: 0 spacing(1.5);
  }

  &__error {
    @include font(fs("body2"), tc("primary"));
    margin-top: spacing(0.5);
    letter-spacing: spacing(-0.1);
  }

  &__email,
  &__phone,
  &__coupon {
    @include flexbox(flex, center, space-between);
    @include margin-padding(bottom, spacing(1.25), bottom, spacing(1.25));
    border-bottom: spacing(0.1) dashed bc("smoke");

    label {
      @include font(fs("h5"), tc("nobel"));
      transition: font-size 0.4s;

      &.filled {
        @include font(fs("body2"), tc("nobel"));
      }

      &.onfocus {
        @include font(fs("body2"), tc("checkout-input"));
      }

      &.filled,
      &.onfocus {
        + input {
          width: 100%;
        }
      }
    }

    input {
      width: 80%;
      border: none;
      margin: spacing(0.5) 0;
    }

    .clearBtn {
      display: none;
      @include appearance();
    }
  }

  &__email-wrapper,
  &__phone-wrapper {
    width: calc(100% - 20px);
  }

  &__coupon {
    button {
      border: none;
      padding: spacing(0.7);
      @include appearance($borrad: spacing(0.6), $bg: bc("disabled-btn"));
      @include font(fs("subtitle"), tc("white"));
    }

    &-wrapper {
      width: 70%;
      @include flexbox(flex, $direction: column-reverse);

      label {
        @include font(fs("body2"), tc("nobel"));
      }

      input {
        text-transform: uppercase;

        &:focus + label {
          @include font(fs("body2"), tc("checkout-input"));
        }

        &::placeholder {
          text-transform: initial;
        }
      }
    }
  }

  &__notice {
    @include absolute(bottom spacing(6));
    text-align: center;
    padding: 0 spacing(4) spacing(2);

    img {
      @include size(spacing(1.6));
      vertical-align: sub;
    }

    span {
      @include font(fs("h6"), tc("charcoal"), $lhe: spacing(2));

      span {
        color: tc("checkout-notice");
      }
    }

    @include screen(md) {
      position: static;
      padding: spacing(20) spacing(4) spacing(13);
    }
  }

  &__paymethod {
    p {
      @include font(fs("h5"), tc("checkout"));
      margin-bottom: spacing(0.5);
    }

    span {
      display: inline-block;
      @include font(fs("subtitle"), tc("primary"));
      letter-spacing: spacing(-0.1);
      margin: spacing(0.5) 0;
    }
  }

  &__continue-mobile {
    display: none;

    @include screen(md) {
      display: flex;
      @include fixed(bottom 0 left 0 right 0);
      height: spacing(7);

      div {
        width: 50%;
        @include flexCenter();
      }
    }
  }

  &__seat-selected {
    background: bc("checkout-selected");
    box-shadow: 0 spacing(-0.1) 0 0 bc("gainsboro"),
      0 spacing(0.1) 0 0 bc("gainsboro");
    @include font(fs("h6"), tc("total-cost"));
  }

  &__continue-btn {
    background: bc("disabled-btn");
    @include font(fs("h4"), tc("smoke"));

    &.active {
      background: bc("selecting-seat");
    }
  }
}
