.header--detail {
  &__go-home {
    display: none;
    img {
      @include size(spacing(1.5));
    }

    @include screen(md) {
      display: block;
    }
  }

  .header__logo {
    @include screen(md) {
      @include centerAbsolute();
    }
  }
}

.content--detail {
  padding-top: spacing(6);
  background-color: bc("cyprus");

  &__poster {
    position: relative;
    width: 100%;
  }

  &__gradient {
    @include absolute(top 0 left 0);
    @include size(100%);
    background: linear-gradient(to top, bc("cyprus"), transparent 100%);
  }

  &__blur {
    overflow: hidden;
    img {
      -webkit-filter: blur(spacing(1.5));
      filter: blur(spacing(1.5));
      margin: spacing(-1.1) 0 spacing(-0.5) spacing(-1);
      width: calc(100% + 5px);

      @include screen(md) {
        filter: none;
        margin: 0;
      }
    }

    .play-btn {
      display: none;
      top: 40%;
      @include screen(md) {
        display: block;
        opacity: 1;

        img {
          opacity: 1;
          width: spacing(8);
        }
      }
    }
  }

  &__film-intro {
    @include centerAbsolute();
    @include flexbox($align: center);
    width: 100%;
    max-width: spacing(87);

    .filmBlock__film-rating {
      display: none;
    }

    @include screen(lg) {
      padding: 0 spacing(3);
    }

    @include screen(md) {
      top: 0;

      .filmBlock__film-rating {
        display: block;
        border-radius: spacing(0.4);
      }
      .filmBlock__film-score {
        font-size: fs("subtitle");
        margin: spacing(0.2) 0 spacing(0.6);
      }
    }
  }

  &__image {
    position: relative;
    width: 25%;
    img {
      border-radius: spacing(0.4);
      width: 100%;
    }

    &:hover .play-btn {
      opacity: 1;

      img:hover {
        opacity: 1;
      }
    }

    @include screen(md) {
      display: none;
    }
  }

  &__info {
    @include flexbox($align: flex-start, $direction: column);
    width: 41.67%;
    padding: 0 spacing(1.5);
    @include font(fs("h6"), tc("smoke"), fw("fwRegular"), $lhe: 1.42);

    .green-label {
      vertical-align: middle;
      margin: spacing(-0.5) spacing(0.6) 0 0;
    }

    h1 {
      @include font(fs("h2"), tc("smoke"), fw("fwMedium"), $lhe: 1.42);
    }

    button {
      @include margin-padding(
        all,
        spacing(2.5) 0 spacing(2),
        all,
        spacing(0.9) spacing(2.4)
      );

      @include appearance($bg: bc("primary"));
      @include font(fs("h5"), tc("white"));
      text-align: center;
      border: none;

      &:hover {
        background: bc("harley");
      }
    }
    @include screen(md) {
      display: none;
    }
  }

  &__info-mobile {
    display: none;
    padding: 0 spacing(1.5);
    p {
      @include font(fs("h6"), tc("nobel"), $lhe: 1.4);

      &:nth-child(2) {
        @include font(fs("h3"), tc("smoke"));
      }
    }

    @include screen(md) {
      display: block;
    }
  }

  &__rating {
    width: 33.33%;
    text-align: center;
    @include flexbox(flex, $justify: flex-end);
    @include screen(md) {
      display: none;
    }
  }

  &__box {
    position: relative;
    width: 100%;

    svg {
      @include size(spacing(13));
      transform: rotate(-88deg);
      circle {
        fill: rgba(bc("black"), 0.4);
        stroke: bc("eclipse");
        stroke-width: spacing(0.8);
        stroke-linecap: square;
      }

      circle:nth-child(2) {
        fill: transparent;
        stroke: bc("lima");
        stroke-dasharray: 375;
        stroke-dashoffset: calc(375 - (375 * 87) / 100);
      }

      @include screen(md) {
        display: none;
      }
    }
  }

  &__point {
    @include centerAbsolute;
    @include font(fs("detail-progress"), tc("white"), fw("fwRegular"));
  }

  &__star {
    margin-top: spacing(1);

    img {
      width: spacing(2.5);
      margin-right: spacing(-0.2);
      vertical-align: middle;
    }
  }

  &__comment-amount {
    @include font(fs("h6"), tc("smoke"));
    margin-top: spacing(1);

    @include screen(md) {
      display: none;
    }
  }

  &__film-detail {
    margin: 0 auto;
    transform: translate(0, spacing(-7));
    width: spacing(87);

    @include screen(lg) {
      width: auto;
      transform: unset;
    }

    @include screen(md) {
      transform: translate(0);
      width: 100%;
    }
  }

  &__tab-header {
    @include flexCenter;
    margin-bottom: spacing(4);

    @include screen(md) {
      padding-top: spacing(2);
      margin-bottom: spacing(3);
    }
  }

  &__tablinks {
    @include appearance($borrad: null);
    @include font(fs("h4"), tc("white"));
    @include margin-padding(all, 0 spacing(0.5), all, spacing(1) spacing(1.5));
    letter-spacing: spacing(-0.1);

    &:hover {
      font-size: fs("h3");
    }

    &.active {
      @include font(fs("h3"), tc("sunset"));
    }

    @include screen(md) {
      &,
      &:hover,
      &.active {
        font-size: fs("h5");
      }
    }
  }

  &__cinema-container {
    @include flexCenter();
  }

  &__cinema-list {
    background: bc("white");
    width: 28%;
    min-height: spacing(71.3);
    border-radius: spacing(0.4) 0 0 spacing(0.4);
    border-right: spacing(0.1) solid rgba(bc("smoke"), 0.8);
  }

  &__cinema-item {
    @include flexbox(flex, center);
    @include appearance();
    position: relative;
    padding: spacing(2);
    opacity: 0.5;

    &::after {
      content: "";
      @include absolute(bottom 0 left 50%, $transX: -50%);
      width: calc(100% - 40px);
      border-bottom: spacing(0.1) solid rgba(bc("smoke"), 0.5);
    }

    &.active {
      opacity: 1;

      .content--detail__cinema-tooltip {
        display: block;
      }
    }

    &.active
      .content--detail__cinema-promotion
      img:hover
      ~ .content--detail__cinema-tooltip {
      z-index: z("tooltip");
      opacity: 1;
    }
  }

  &__cinema-logo {
    @include size(spacing(5));
    margin-right: spacing(1);
  }

  &__cinema-info {
    @include flexbox(flex, null, center, column);
    p {
      @include font(fs("h5"), $lhe: 1.8);
    }
  }

  &__cinema-promotion {
    position: relative;
    @include flexbox(flex, flex-start);

    span {
      @include font(fs("body2"), tc("primary"));
    }
    .exclam {
      @include size(spacing(1.3));
      margin-right: spacing(0.5);
      vertical-align: top;
    }
  }

  &__cinema-tooltip {
    @include absolute(top spacing(-2.5) left 15% right spacing(-13));
    @include appearance(
      $borrad: spacing(1),
      $bg: linear-gradient(to bottom, bc("white"), bc("smoke"))
    );
    @include box-shadow($blur: 1, $color: rgba(bc("black"), 0.3));
    padding: spacing(2);
    z-index: -1;
    display: none;
    opacity: 0;

    &::after {
      content: "";
      @include absolute(left spacing(-0.8) top 10%);
      @include size(0);
      border-bottom: spacing(0.8) solid transparent;
      border-top: spacing(0.8) solid transparent;
      border-right: spacing(0.8) solid bc("tooltip-triangle");
      -webkit-filter: drop-shadow(
        spacing(-0.5) 0 spacing(0.4) rgba(0, 0, 0, 0.3)
      );
      filter: drop-shadow(spacing(-0.5) 0 spacing(0.4) rgba(0, 0, 0, 0.3));
    }

    p {
      @include font(fs("h6"), tc("black"), $lhe: 1.4);
      margin-bottom: spacing(1.5);
    }

    ul {
      padding-inline-start: spacing(1.5);
      li {
        list-style-type: disc;
        @include font(fs("h6"), tc("black"), $lhe: 1.42);
        margin-bottom: spacing(0.6);
      }
    }
  }

  &__cinema-detail {
    width: 72%;
    background: bc("white");
    min-height: spacing(71.3);
    border-radius: 0 spacing(0.4) spacing(0.4) 0;
  }

  &__day-wrapper {
    @include custom-scrollbar;
    overflow-x: scroll;

    @include screen(md) {
      background: bc("white");
    }
  }

  &__day-list {
    display: flex;
    padding: spacing(1.6) 0;
    justify-content: space-evenly;
    width: 195%;

    @include screen(md) {
      margin: 0 spacing(-4.5);
      width: 210%;
    }

    @include screen(sm) {
      margin: 0 spacing(-2);
    }
  }

  &__day {
    text-align: center;
    @include font(fs("h6"), tc("black"), fw("fwRegular"));
    cursor: pointer;

    span {
      font-size: fs("h3");
    }

    &.active {
      color: tc("primary");
    }

    &.disable {
      pointer-events: none;
      color: tc("nobel");
    }
  }

  &__showtime-wrapper {
    @include custom-scrollbar;

    @include screen(md) {
      background: bc("white");
    }
  }

  &__showtime-list {
    height: spacing(63.5);
    min-height: spacing(63.5);

    @include screen(md) {
      height: auto;
      padding-bottom: spacing(7);
    }
  }

  &__showtime-item {
    padding: spacing(2) spacing(2) spacing(1);
    position: relative;
    overflow: hidden;
    @include screen(md) {
      display: none;
      max-height: spacing(50);
    }

    &::after {
      content: "";
      @include absolute(bottom 0 left 50%, $transX: -50%);
      width: calc(100% - 40px);
      border-bottom: spacing(0.1) solid rgba(bc("smoke"), 0.5);
    }

    .cinemaBlock__wrap {
      display: inline-block;

      div {
        display: flex;
      }

      span {
        font-size: fs("h5");
      }

      p {
        width: fit-content;
        max-width: 88%;
        font-size: fs("subtitle");
        @include screen(md) {
          max-width: 100%;
        }
      }

      a {
        margin-left: spacing(0.1);
      }
    }

    .cinemaBlock__hide-on-click {
      p {
        @include screen(md) {
          padding: 0;
          padding-bottom: spacing(0.5);
        }
      }
    }
  }

  &__showtime-header {
    @include flexCenter;
    @include screen(md) {
      justify-content: space-between;
      position: relative;
      padding: spacing(2);
      scroll-margin-block: spacing(6);

      &.active {
        .content--detail__cinema-tooltip {
          display: block;
        }
      }

      &.active
        .content--detail__cinema-promotion
        img:hover
        ~ .content--detail__cinema-tooltip {
        z-index: z("tooltip");
        opacity: 1;
      }

      &::after {
        content: "";
        @include absolute(bottom 0 left 50%, $transX: -50%);
        width: calc(100% - 40px);
        border-bottom: spacing(0.1) solid rgba(bc("smoke"), 0.5);
      }
    }

    img:first-child:not(.exclam) {
      @include size(spacing(5));
    }
  }

  &__brand-wrapper {
    display: flex;
    @include screen(md) {
      display: flex;
    }
  }

  &__cinema-header {
    @include screen(md) {
      @include flexCenter();
      padding-bottom: spacing(2);

      .cinemaBlock__wrap {
        padding: 0;

        p {
          font-size: fs("h6");
        }
      }
    }
  }

  &__icon-right {
    @include size(spacing(1.6));
    @include appearance();

    .content--detail__showtime-header.active & {
      transform: rotate(90deg);
    }
  }

  &__info-wrapper {
    display: flex;
    @include screen(md) {
      flex-direction: column;
    }
  }

  &__info-left,
  &__info-right {
    width: 50%;
    padding: 0 spacing(1);
    @include screen(md) {
      width: 100%;
    }
  }

  &__info-row {
    display: flex;
    margin-bottom: spacing(1);
  }

  &__info-title {
    @include font(fs("h6"), tc("white"));
    margin-bottom: spacing(1);
    width: 35%;

    @include screen(md) {
      color: tc("nobel");
    }
  }

  &__info-content {
    @include font(fs("h6"), tc("smoke"), fw("fwRegular"));
    margin-bottom: spacing(1);
    width: 40%;

    &--full {
      @include font(fs("h6"), tc("smoke"), fw("fwRegular"));
      margin-bottom: spacing(1);
      text-align: justify;
      width: 100%;
    }
  }

  &__comment-box {
    @include flexbox(flex, center, space-between);
    @include margin-padding(
      "all",
      spacing(4) calc(50% - 290px) 0,
      "all",
      spacing(1) 2%
    );

    max-width: spacing(58);
    height: spacing(6);
    @include appearance($bg: bc("white"));

    @include screen(sm) {
      margin: 0 spacing(1.5);

    }
  }

  &__comment-box-left {
    @include flexbox(flex, center);
    img {
      @include size(spacing(3.6));
      border-radius: 50%;
    }
    span {
      @include font(fs("h6"), tc("nobel"));
      margin-left: spacing(0.5);
    }
  }

  &__user-comment-list {
    @include flexbox(flex, center, $direction: column);

    button {
      margin-top: spacing(3);

      @include screen(lg) {
        margin-bottom: spacing(4);
      }
    }
  }

  &__user-comment-box {
    @include appearance($cursor: init, $bg: bc("white"));
    @include margin-padding(
      "all",
      spacing(1.5) calc(50% - 290px) 0,
      "all",
      spacing(2) spacing(2) spacing(1.2)
    );
    max-width: spacing(58);
    @include screen(sm) {
      margin: spacing(2) spacing(1.5) spacing(1.2);

    }
  }

  &__user-comment-header {
    @include flexbox(flex, center, space-between);
  }

  &__user-avatar {
    @include flexbox(flex);
    img {
      @include size(spacing(3.2));
      border-radius: 50%;
    }
  }

  &__user-info {
    margin-left: spacing(1);
    letter-spacing: spacing(-0.05);

    p {
      @include font(fs("h6"), tc("black"));
      img {
        @include size(spacing(1.8));
        vertical-align: middle;
      }
    }

    span {
      color: tc("nobel");
    }
  }

  &__user-rating {
    text-align: center;
    p {
      @include font(fs("h5"), tc("atlantis"));
    }

    div {
      @include flexbox(flex, $justify: space-around);
      margin-top: spacing(1);
      img {
        @include size(spacing(0.8));
      }
    }
  }

  &__user-comment-body {
    position: relative;
    padding: spacing(2) 0;
    @include font(fs("h6"), tc("charcoal"), fw("fwRegular"), 1.44);

    &::after {
      content: "";
      @include absolute(bottom 0 left 50%, $transX: -50%);
      width: 100%;
      border-bottom: spacing(0.1) solid rgba(bc("smoke"), 0.5);
    }
  }

  &__user-comment-footer {
    @include flexbox(flex, center);
    padding-top: spacing(1);

    img {
      @include size(spacing(1.6));
      @include appearance;
    }
    span {
      margin-left: spacing(1);
      @include font(fs("h6"), tc("raven"));
      cursor: pointer;
    }

    &:hover {
      img {
        transform: scale(1.1);
      }
    }
  }
}

.hide-on-mobile {
  @include screen(md) {
    display: none;
  }
}

.hide-on-desktop {
  display: none;
  @include screen(md) {
    display: block;
  }
}

.tab-content {
  -webkit-animation: fadeEffect 0.7s;
  animation: fadeEffect 0.7s;
}
