.content--detail {
  padding-top: spacing(6);
  background-color: bc("cyprus");

  &__poster {
    position: relative;
    width: 100%;
  }

  &__gradient {
    @include absolute(top 0 left 0);
    @include size(100%);
    background: linear-gradient(to top, bc("cyprus"), transparent 100%);
  }

  &__blur {
    overflow: hidden;
    img {
      -webkit-filter: blur(spacing(1.5));
      filter: blur(spacing(1.5));
      margin: spacing(-1.1) 0 spacing(-0.5) spacing(-1);
      width: calc(100% + 5px);
    }
  }

  &__film-intro {
    @include centerAbsolute();
    @include flexbox($align: center);
    width: 100%;
    max-width: spacing(87);
  }

  &__image {
    position: relative;
    width: 25%;
    img {
      border-radius: spacing(0.4);
      width: 100%;
    }

    &:hover .play-btn {
      opacity: 1;

      img:hover {
        opacity: 1;
      }
    }
  }

  &__info {
    @include flexbox($align: flex-start, $direction: column);
    width: 41.67%;
    padding: 0 spacing(1.5);
    @include font(fs("h6"), tc("smoke"), fw("fwRegular"), $lhe: 1.42);
    .green-label {
      vertical-align: middle;
      margin: spacing(-0.5) spacing(0.6) 0 0;
    }

    h1 {
      @include font(fs("h2"), tc("smoke"), fw("fwMedium"), $lhe: 1.42);
    }

    button {
      @include margin-padding(
        all,
        spacing(2.5) 0 spacing(2),
        all,
        spacing(0.9) spacing(2.4)
      );

      @include appearance($bg: bc("primary"));
      @include font(fs("h5"), tc("white"));
      text-align: center;
      border: none;

      &:hover {
        background: bc("harley");
      }
    }
  }

  &__rating {
    width: 33.33%;
    text-align: center;
    @include flexbox(flex, $justify: flex-end);
  }

  &__box {
    position: relative;
    width: 100%;

    svg {
      @include size(spacing(13));
      transform: rotate(-88deg);
      circle {
        fill: rgba(bc("black"), 0.4);
        stroke: bc("eclipse");
        stroke-width: spacing(0.8);
        stroke-linecap: square;
      }

      circle:nth-child(2) {
        fill: transparent;
        stroke: bc("lima");
        stroke-dasharray: 375;
        stroke-dashoffset: calc(375 - (375 * 87) / 100);
      }
    }
  }

  &__point {
    @include centerAbsolute;
    @include font(fs("detail-progress"), tc("white"), fw("fwRegular"));
  }

  &__star {
    margin-top: spacing(1);

    img {
      width: spacing(2.5);
      margin-right: spacing(-0.2);
      vertical-align: middle;
    }
  }

  &__comment-amount {
    @include font(fs("h6"), tc("smoke"));
    margin-top: spacing(1);
  }

  &__film-detail {
    transform: translate(0, spacing(-7));
    width: spacing(87);
    max-width: spacing(87);
  }

  &__tab-header {
    @include flexCenter;
    margin-bottom: spacing(4);
  }

  &__tablinks {
    @include appearance($borrad: null);
    @include font(fs("h4"), tc("white"));
    @include margin-padding(all, 0 spacing(0.5), all, spacing(1) spacing(1.5));
    letter-spacing: spacing(-0.1);

    &:hover {
      font-size: fs("h3");
    }

    &.active {
      @include font(fs("h3"), tc("sunset"));
    }
  }

  &__cinema-container {
    @include flexCenter();
  }

  &__cinema-list {
    background: bc("white");
    width: 28%;
    min-height: spacing(71.3);
    border-radius: spacing(0.4) 0 0 spacing(0.4);
    border-right: spacing(0.1) solid rgba(bc("smoke"), 0.8);
  }

  &__cinema-item {
    @include flexbox(flex, center);
    @include appearance();
    position: relative;
    padding: spacing(2);
    opacity: 0.5;

    &::after {
      content: "";
      @include absolute(bottom 0 left 50%, $transX: -50%);
      width: calc(100% - 40px);
      border-bottom: spacing(0.1) solid rgba(bc("smoke"), 0.5);
    }

    &.active {
      opacity: 1;

      .content--detail__cinema-tooltip {
        display: block;
      }
    }

    &.active .content--detail__cinema-promotion img:hover ~ .content--detail__cinema-tooltip {
      z-index: z("tooltip");
      opacity: 1;
    }
  }

  &__cinema-logo {
    @include size(spacing(5));
    margin-right: spacing(1);
  }

  &__cinema-info {
    @include flexbox(flex, null, center, column);
    p {
      @include font(fs("h5"), $lhe: 1.8);
    }
  }

  &__cinema-promotion {
    position: relative;
    @include flexbox(flex, flex-start);

    span {
      @include font(fs("body2"), tc("primary"));
    }
    img {
      width: spacing(1.3);
      margin-right: spacing(0.5);
      vertical-align: top;
    }
  }

  &__cinema-tooltip {
    @include absolute(top spacing(-2.5) left 15% right spacing(-13));
    @include appearance(
      $borrad: spacing(1),
      $bg: linear-gradient(to bottom, bc("white"), bc("smoke"))
    );
    @include box-shadow($blur: 1, $color: rgba(bc("black"), 0.3));
    padding: spacing(2);
    z-index: -1;
    display: none;
    opacity: 0;

    &::after {
      content: "";
      @include absolute(left spacing(-0.8) top 10%);
      @include size(0);
      border-bottom: spacing(0.8) solid transparent;
      border-top: spacing(0.8) solid transparent;
      border-right: spacing(0.8) solid bc("tooltip-triangle");
      -webkit-filter: drop-shadow(
        spacing(-0.5) 0 spacing(0.4) rgba(0, 0, 0, 0.3)
      );
      filter: drop-shadow(spacing(-0.5) 0 spacing(0.4) rgba(0, 0, 0, 0.3));
    }

    p {
      @include font(fs("h6"), tc("black"), $lhe: 1.4);
      margin-bottom: spacing(1.5);
    }

    ul {
      padding-inline-start: spacing(1.5);
      li {
        list-style-type: disc;
        @include font(fs("h6"), tc("black"), $lhe: 1.42);
        margin-bottom: spacing(0.6);
      }
    }
  }

  &__cinema-detail {
    width: 72%;
    background: bc("white");
    min-height: spacing(71.3);
    border-radius: 0 spacing(0.4) spacing(0.4) 0;
  }

  &__day-wrapper {
    @include custom-scrollbar;
    overflow-x: scroll;
  }

  &__day-list {
    display: flex;
    padding: spacing(1.6) 0;
    justify-content: space-evenly;
    width: 195%;
  }

  &__day {
    text-align: center;
    @include font(fs("h6"), tc("black"), fw("fwRegular"));
    cursor: pointer;

    span {
      font-size: fs("h3");
    }

    &.active {
      color: tc("primary");
    }

    &.disable {
      pointer-events: none;
      color: tc("nobel");
    }
  }

  &__showtime-wrapper {
    @include custom-scrollbar;
  }

  &__showtime-list {
    height: spacing(63.5);
    min-height: spacing(63.5);
  }

  &__showtime-item {
    padding: spacing(2) spacing(2) spacing(1);
    position: relative;

    img {
      @include size(spacing(5));
    }

    &::after {
      content: "";
      @include absolute(bottom 0 left 50%, $transX: -50%);
      width: calc(100% - 40px);
      border-bottom: spacing(0.1) solid rgba(bc("smoke"), 0.5);
    }

    .cinemaBlock__wrap {
      display: inline-block;

      div {
        display: flex;
      }

      span {
        font-size: fs("h5");
      }

      p {
        width: fit-content;
        max-width: 88%;
        font-size: fs("subtitle");
      }

      a {
        margin-left: spacing(0.1);
      }
    }
  }

  &__showtime-header {
    @include flexCenter;
  }

  
}
