.signin {
  position: relative;
  @include size(100vw, 100vh);
  background: url(../../../build/images/login/bg2.jpg) center;
  background-size: contain;

  &__wrapper {
    @include centerAbsolute();
    max-width: spacing(36);
    padding: spacing(4) spacing(3.2) spacing(3);
    background-image: linear-gradient(
      to bottom,
      rgba(bc("midnight"),0.9),
      rgba(bc("cyprus"),0.9)
    );
    @include box-shadow(0, 0, 1, 0, rgba(bc("black"),0.45));
    text-align: center;
    color: tc("white");
    border-radius: spacing(0.6);

    & > img {
      width: spacing(20.9);
      margin-bottom: spacing(9.6);
      cursor: pointer;
    }

    @include screen(custom, max, 480) {
      max-width: none;
      @include size(100%);
    }
  }

  &__title {
    @include font(fs("h6"), tc("white"), fw("fwRegular"), $lhe: 1.42);
  }

  &__login-btns {
    @include flexbox($direction: column);
    width: 100%;
    a {
      display: flex;
      @include margin-padding(top, spacing(1.5), all, 0 spacing(1));
      & > img {
        width: 100%;
      }
    }
  }

  &__close-btn {
    @include absolute(top spacing(-1.8) right spacing(-1.8));
    @include size(spacing(3.6));
    @include box-shadow(0, 0.2, 1, 0, rgba(bc("black"),.5));
    @include appearance(pointer, null, null, 50%, bc("cyprus"));
    @include flexCenter();

    &::before,
    &::after {
      content: "";
      position: absolute;
      height: spacing(1.6);
      border-left: spacing(0.2) solid bc("astronaut");
    }

    &::before {
      transform: rotate(-45deg);
    }

    &::after {
      transform: rotate(45deg);
    }

    &:hover {
      filter: brightness(0.96);
    }

    @include screen(custom, max, 480) {
      @include absolute(top spacing(1) right spacing(1));
      @include size(spacing(2.5));

      &::before,
      &::after {
        height: spacing(1.2);
      }
    }
  }

  @include screen(custom, max, 480) {
    overflow: hidden;
  }
}
