.header {
  @include fixed(top 0);
  @include flexbox($justify: space-between, $align: center);
  @include size(100%, spacing(6));
  @include box-shadow(0, 0, 1.5, 0, rgba(0, 0, 0, 0.3));
  @include margin-padding($p-amount: 0 spacing(2));

  background-color: rgba(255, 255, 255, 0.95);
  transition: 0.2s all;
  z-index: z("header");

  &:hover {
    background-color: rgba(255, 255, 255, 1);
  }

  &__logo {
    img {
      width: spacing(5);
    }
  }

  &__middle {
    @include absolute(left 50%, $transX: -50%);

    a {
      @include font("subtitle", "primary", "fwMedium");
      margin-right: spacing(2);
      transition: 0.2s all;

      &:hover {
        color: tc("secondary");
      }
    }
  }

  &__right {
    @include flexbox();
    line-height: spacing(3);

    .header__location-select {
      position: relative;

      .select-selected {
        @include font("subtitle", "text-1");
        padding-left: spacing(2);
        min-width: spacing(16);
        background: url(../../img/dropdown-icon.png) no-repeat right
            spacing(1.8) center,
          url(../../img/location-header.png) no-repeat left center;
      }

      .select-items {
        @include absolute(top 155% left 0 right 0);
        font-size: fs("subtitle");

        div {
          padding: 0 spacing(2);
        }
      }
    }
  }
}
