.login-btn {
  display: flex;

  & img {
    border-radius: 50%;
    width: spacing(3);
    margin-right: spacing(0.8);
  }
  & span {
    @include font("subtitle", "text-1");
    @include margin-padding(right, spacing(1.1), right, spacing(1.1));
    border-right: spacing(0.1) solid bc("whisper");
  }
}

.play-btn {
  @include centerAbsolute();
  @include appearance($borrad: null);
  z-index: z("play-btn");
  opacity: 0;

  & img {
    transition: all 0.2s;

    &:hover {
      opacity: 0.5;
    }
  }
}
