.login-btn {
  display: flex;

  & img {
    border-radius: 50%;
    width: spacing(3);
    margin-right: spacing(0.8);
  }
  & span {
    @include font("subtitle", "text-1");
    @include margin-padding(right, spacing(1.1), right, spacing(1.1));
    border-right: spacing(0.1) solid bc("whisper");
  }
}

.play-btn {
  @include centerAbsolute();
  @include appearance($borrad: null);
  z-index: z("play-btn");
  opacity: 0;

  & img {
    transition: all 0.2s;

    &:hover {
      opacity: 0.5;
    }
  }
}

.loadmore-btn {
  @include font("subtitle", "text-3", "fwMedium");
  @include appearance($bg: 0 0);
  text-transform: uppercase;
  border: spacing(0.1) solid bdc("loadmore");
  padding: spacing(1) spacing(2.5);

  &:hover {
    color: tc("white");
    background-color: bc("label-c");
    border-color: bdc("loadmore-hover");
  }
}
