.cinemaBlock {
    max-width: spacing(94);
    padding-top: spacing(12);
    background: url(../../img/back-news.png) no-repeat top center;
    background-size: contain;
    padding-bottom: spacing(4);
    .tab {
        @include flexbox($direction: column, $align: center);
        width: 10%;
       border: 1px solid rgba(238, 238, 238, 0.88);
       min-height: spacing(70.5);
    }

    button {
        @include flexCenter();
        border: none;
        background: none;
        padding: 20px;
        border-bottom: 1px solid rgba(238, 238, 238, 0.88);
          width: 50%;
        cursor: pointer;
        img{
            @include size(spacing(5));
            opacity: 0.5;
        }

        &.active {
            img {
                opacity: 1;
            }
        }
        
    }
}