.cinemaBlock {
  @include blockHeader;
  @include flexbox($wrap: nowrap);
  padding-bottom: spacing(4);

  .tab {
    @include flexbox($direction: column, $align: center);
    @include custom-scrollbar;
    @include size(10%, spacing(70.5));
    border: spacing(0.1) solid bdc("tab");
    border-right: transparent;
    border-radius: spacing(0.4) 0 0 spacing(0.4) ;

  }

  &__cinema-list {
    @include flexCenter();
    cursor: pointer;
    position: relative;
    padding: spacing(2);

    img {
      @include size(spacing(5));
      opacity: 0.5;
    }
    &::after {
      content: "";
      @include absolute(bottom 0 left 50%, $transX: -50%);
      width: 55%;
      border-bottom: spacing(0.1) solid bdc("tab");
    }
    &.active,
    &:hover {
      img {
        opacity: 1;
      }
    }
  }

  &__cinema-detail {
    @include custom-scrollbar;
    @include size(30%, spacing(70.5));
    border: spacing(0.1) solid bdc("tab");
    padding: 0 spacing(2);
  }

  &__cinema-info {
    @include appearance($borrad: null);
    @include flexbox($align: flex-start);
    position: relative;
    padding: spacing(2) 0;
    opacity: 0.5;

    img {
      @include size(spacing(5));
    }

    &::after {
      content: "";
      @include absolute(bottom 0 left 50%, $transX: -50%);
      width: 100%;
      border-bottom: spacing(0.1) solid bdc("tab");
    }

    &.active,
    &:hover {
      opacity: 1;
    }
  }

  &__wrap {
    cursor: pointer;
    width: calc(100% - 50px);
    padding-left: spacing(1);

    & > span {
      @include font($fsz: "h6", $lhe: 1.4);

      .cinemaBlock__cgv {
        @include font($color: "cgv");
      }

      .cinemaBlock__bhd {
        @include font($color: "bhd");
      }
    }

    p {
      @include truncateText(100%);
      @include font("body2", "text-3", "fwRegular", $lhe: 1.4);
    }

    a {
      @include font("body2", "secondary", $lhe: 1.4);
    }
  }

  &__film-time {
    @include custom-scrollbar;
    @include size(60%, spacing(70.5));
    padding: 0 spacing(2);
    border: spacing(0.1) solid bdc("tab");
    border-radius: 0 spacing(0.4) spacing(0.4) 0;

    border-left: transparent;

    &-item {
      @include flexbox($align: center, $wrap: wrap);
      position: relative;
      padding: spacing(2) 0;

      &::after {
        content: "";
        @include absolute(bottom 0 left 50%, $transX: -50%);
        width: 100%;
        border-bottom: spacing(0.1) solid bdc("tab");
      }

      img {
        @include size(spacing(5));
        cursor: pointer;
      }
    }
  }

  &__empty {
    @include font($fsz: "h6", $lhe: 1.4);
    padding-top: spacing(3);
    text-align: center;
  }

  &__hide-on-click {
    overflow-y: hidden;
    p {
      @include font($fsz: "h5", $lhe: 1.4);
      padding: spacing(1.5) 0;
      width: 100%;
    }
  }

  &__session {
    width: 100%;
    a {
      display: inline-block;
      width: calc(25% - 13px);
      @include appearance($borrad: spacing(0.7), $bg: bc("showtime"));
      @include margin-padding(
        $m-amount: 0 spacing(1) spacing(1) 0,
        $p-amount: spacing(0.5) 0
      );
      @include font("subtitle", "text-1", "fwMedium", $lhe: 1.4);
      text-align: center;
      border: spacing(0.1) solid bdc("showtime");

      span {
        @include font("h4", "start-time");
      }

      &:hover {
        span {
          color: tc("secondary");
        }
      }
    }
  }
}
