.select-selected {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.select-items {
  @include custom-scrollbar;
  max-height: spacing(30);
  border-radius: spacing(0.4);
  background: bc("white");



  /*hide the items when the select box is closed:*/
  &.select-hide {
    display: none;
  }

  .same-as-selected {
    background-color: bc("location");
    color: tc("white");
  }

  div {
    @include appearance($borrad: null);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &:hover {
      background-color: bc("location");
      color: tc("white");
    }
  }
}
