@font-face {
  font-family: SF;
  src: url(../../Fonts/SF-Text-Regular.ttf);
  font-weight: 300;
}
@font-face {
  font-family: SF;
  src: url(../../Fonts/SF-Text-Medium.ttf);
  font-weight: 400;
}
@font-face {
  font-family: SF;
  src: url(../../Fonts/SF-Text-Bold.ttf);
  font-weight: 600;
}
